<mat-card>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form *ngIf="!estaCarregando" (submit)="onSalvarCliente(clienteForm)" #clienteForm="ngForm">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Nome"
        name="nome"
        ngModel
        required
        minlength="4"
        [ngModel]="cliente?.nome"
        #nome="ngModel"
        >
        <mat-error *ngIf="nome.invalid">Digite um nome válido</mat-error>
    </mat-form-field>
    <mat-form-field>
     <input
      type="text"
      matInput
      placeholder="Telefone"
      name="fone"
      ngModel
      required
      [ngModel]="cliente?.fone"
      #fone="ngModel">
      <mat-error *ngIf="fone.invalid">Digite um telefone válido</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Email"
        name="email"
        ngModel
        required
        [ngModel]="cliente?.email"
        #email="ngModel">
        <mat-error *ngIf="email.invalid"></mat-error>
    </mat-form-field>
    <button color="accent" mat-raised-button>Salvar Cliente</button>
  </form>
</mat-card>

